
<header class="site-header">
  <div class="vcontainer">
    <div class="vrow min-sm-y-center">
      <div class="site-header__content vak-12 vak-sm-8">
        <h1 class="site-header__title vtitle-big black">4-Д карты виртуальной реальности
        </h1>
        <h2 class="vtitle-small light">AR Animal - лучший путь для образования и развития детей</h2>
      </div>
      <div class="vak-12 vak-sm-4">
        <form class="vform vform_block vform_border" action="application.php" method="POST">
          <div class="vform__header">
            <div class="vform__title">Заказать 4-Д карты
            </div>
          </div>
          <div class="vform__content">
            <div class="vform__row"><input class="vform-control" type="text" placeholder="Имя" name="vname"/>
            </div>
            <div class="vform__row"><input class="vform-control" type="text" placeholder="Телефон" name="vphone"/>
            </div>
            <div class="vform__row">
              <button class="vbtn vbtn_block vbtn_large vbtn_brand-1 effect effect_bounce-top" type="submit">Получить
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="site-header__arrow vrow text-center"><a class="site-header__arrow-link anchor" href="#section-description">
      <svg class="site-header__arrow-icon" style="fill:#f7f7f7;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592">
        <path d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z"></path>
      </svg></a>
    </div>
  </div>
</header>