include ../bem/index
+b.HEADER.site-header
	.vcontainer
		.vrow.min-sm-y-center
			+e.content.vak-12.vak-sm-8
				+e.H1.title.vtitle-big.black 4-Д карты виртуальной реальности
				h2.vtitle-small.light AR Animal - лучший путь для образования и развития детей
			.vak-12.vak-sm-4
				+b.FORM.vform._block._border(action="application.php" method="POST")
					+e.header
						+e.title Заказать 4-Д карты
					+e.content
						+e.row
							+b.INPUT.vform-control(type="text" placeholder="Имя" name="vname")
						+e.row
							+b.INPUT.vform-control(type="text" placeholder="Телефон" name="vphone")
						+e.row
							+b.BUTTON.vbtn._block._large._brand-1.effect._bounce-top(type="submit") Получить
		+e.arrow.vrow.text-center
			+e.A.arrow-link.anchor(href="#section-description")
				+e.SVG.arrow-icon(style="fill:#f7f7f7;" x="0px" y="0px" width="38.417px" height="18.592px" viewBox="0 0 38.417 18.592")
					path(d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z")