-
	var navigation = [
		{
			name: 'asdasd',
			link: 'index.html'
		},
		{
			name: 'Main 2',
			link: 'index2.html'
		},
		{
			name: 'Main 3',
			link: 'index3.html'
		}
	];

	var wordpress = false;