include includes/helpers/mixins
include includes/bem/index
-
	set_bemto_settings({
		prefix: '',
		element: '__',
		modifier: '_'
	})


//-
//- Buttons
//-

// Big button with background color (brand-1), shadow
+b.BUTTON.vbtn._large._brand-1._shadow._shadow-brand-1

// Default button with effect line
+b.BUTTON.vbtn.effect._line.left.top
	
// List of possible classes

	effect_shutter-vertical-out
	effect_shutter-horizontal-out
	effect_bounce-top
	effect_bounce-bottom
	effect_skew


//-
//- Modals
//-

// Modal Jquery (app/main.js)
+b.vmodal._default._center#vmodalForm
	+e.box
		+e.BUTTON.close(type="button" data-close="vmodal") &times;
		+e.P.title Отправить заявку
		+e.body
			+b.vform
				+e.row
					+e.INPUT(type="text" placeholder="Имя")
					+e.SPAN.line
				+e.row
					+e.INPUT(type="text" placeholder="E-mail")
					+e.SPAN.line
				+e.row
					+e.INPUT(type="text" placeholder="Телефон")
					+e.SPAN.line
				+e.row._btn
					+b.BUTTON.vbtn._main._bounceTop(type="submit") Получить


// Modal Javascript (app/js/main_vanilla.js)

.vmodal__content#vmodalText_content
	.vmodal__inner
		p Lorem 

.vmodal__content#vmodalVideo
	.vmodal__video

.vmodal__content#vmodalForm
	+b.FORM.vform(action="application.php" method="POST")
		+e.row._line._status
			+b.INPUT.vform-control(type="text" placeholder="Имя" data-rule="required noNumbers")
			+e.SPAN.line
		+e.row._line._status
			+b.INPUT.vform-control(type="email" placeholder="E-mail" data-rule="required email")
			+e.SPAN.line
		+e.row._line._status
			+b.INPUT.vform-control(type="text" placeholder="Телефон" data-rule="required")
			+e.SPAN.line
		+e.row.text-center
			button.vbtn.vbtn_main(type="submit") Получить!
	

// EXAMPLE OF COLLAPSE 

.cf.vcollapse-wrap
	.vcollapse-inner
		.vcollapse-header
			p 1
		.vcollapse-body
			p Lorem


// Example of tabs

.vtabs-wrap
	.vtabs-links
		.vtabs-list
			li.active: a.vtabs-link(data-func="tab" data-target="#vtab1") Tab_link_1
			li: a.vtabs-link(data-func="tab" data-target="#vtab2") Tab_link_2
		.vtabs-content
			.vtabs-content-inner#vtab1
				p 1
			.vtabs-content-inner#vtab2
				p 2


// Buttons

// data-content="#example" - content's ID which will be inside modal
// data-id="example" - ID for future modal
// data-title="example" - title inside modal

// If use vanillaJS
+b.BUTTON.vbtn._main(data-func="vmodal" data-content="#vmodalText_content" data-id="ModalID" data-title="test") Button

+b.BUTTON.vbtn._main(data-func="vmodal" data-content="#vmodalVideo" data-id="ModalID" data-title="Test" data-class="vmodal_big vmodal_transparent" data-video="https://www.youtube.com/embed/5CLFwCUyWqY") Test

// If use jQuery
+b.BUTTON.vbtn._main(data-func="vmodal" data-target="#vmodalForm") Button

+b.BUTTON.vbtn._main(data-func="vmodal" data-target="#vmodalForm" data-video="https://www.youtube.com/embed/Iutk7AboLZI" data-source="youtube" data-title="Уроки JavaScript Практика #3 Пишем свой CSS генератор") Button_text_big


// Preloaders

+b.loader
	+e.inner
		+e.SPAN.bar#loader_bar
		+e.center
			+e.spin._simple#loader_animation
			+e.SPAN.text#loader_percent 0%
	+e.section._left
	+e.section._right

+b.loader
	+e.inner
		+e.SPAN.bar#loader_bar
		+e.center
			+e.spin._threeCirclesOpacity#loader_animation
				span
			+e.SPAN.text#loader_percent 0%
	+e.section._left
	+e.section._right

+b.loader
	+e.inner
		+e.cube-wrap
			- var numberOfCubes = 9;
			- for(var i = 0; i < numberOfCubes; i++)
				+e.SPAN.cube
	+e.section._left
	+e.section._right

+b.loader
	+e.inner
		+b.loader__circles._1
			div
				div
					div
						div
							div
								div
		+e.SPAN.spin-text Loading...
	+e.section._left
	+e.section._right


// CONTROLS
.control-group
	label.control.control_default(for="check1")
		input(type="radio" id="check1" name="checks")
		.control__indicator
		p.control__text Check 1
.control-group
	label.control.control_default(for="check2")
		input(type="checkbox" id="check2" name="checks")
		.control__indicator
		p.control__text Check 2