.offset{
  &-static{
    &-xs{
      margin-bottom: 15px;
    }
    &-sm{
      margin-bottom: 30px;
    }
    &-md{
      margin-bottom: 45px;
    }
  }
  &-big,
  &-extra{
    margin-bottom: 60px;
  }
  @include resp-min(md){
    &-extra{
      margin-bottom: 90px;
    }
  }
}