$footer-map: (
	'background'	: #191919,
	'color'				: #fff
);

.site-footer{
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: getComp('background', $footer-map);
	color: getComp('color', $footer-map);
}