.step{
	&__item{
		text-align: center;
	}
	&__header{
		margin-bottom: 20px;
	}
	&__number{
		display: inline-block;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		background-color: setColor('brand-1');
		text-align: center;
		line-height: 50px;
		font-size: 22px;
		font-weight: bold;
		color: #fff;
	}
	&__title{
		margin-bottom: 15px;
		font-size: 24px;
		font-weight: bold;
	}
	&__body{
		font-size: 15px;
		line-height: 1.55;
	}
	@include resp-max(md){
		&__column{
			margin-bottom: 30px;
		}
	}
}