body{
  color: setColor('dark', 'black');  
  font-size: 18px;
  line-height: 1.42857143;
  @extend .general-font !optional;
  @extend .light !optional;
}
img{
  display: inline-block;
  max-width: 100%;
}
a,button{
  cursor: pointer;
}
strong,.strong,b,.b{
  @extend .black !optional;
}