.text{
	&-uppercase{
		text-transform: uppercase;
	}
	&-u{
		text-decoration: underline;
	}
	&-dn{
		text-decoration: none;
	}
	&-center{
	 text-align: center;
	}
	&-left{
	 text-align: left;
	}
	&-right{
	 text-align: right;
	}
}
.size{
  &-zero{
    font-size: 0;
  }
}
.content{
	p{
		margin-bottom: 15px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}