doctype html
html(lang="ru")
	head
		include helpers/mixins
		include helpers/data
		include bem/index
		
		block variables

		+add-meta('title', title)
		+add-meta('description', description)

		include layouts/head
		-
			set_bemto_settings({
				prefix: '',
				element: '__',
				modifier: '_'
			})
	body
		block nav
			+b.fixed._top
				+b.vnav._style
					+e.container.vcontainer
						+e.row.vrow.flex-y-center
							+e.logo.vak-5.vak-md-3
								.inline-block
									+e.P.logo-text AR GUN
							+e.text.vak-7.vak-md-9
								+e.A.text-link(href="tel: +38 (093) 961 33 54") +38 (093) 961 33 54
								+e.BUTTON.button.vbtn._navigation.effect._bounce-top(data-action="vmodal" data-open="#form") Купить сейчас
		div.site#page
			block header
				include layouts/header
			div.site-content#content
				block content
			block footer
				include layouts/footer
		block dev